<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Peppers</span>
    </mat-toolbar-row>
</mat-toolbar>

<section>
    <mat-card class="block">
        <mat-card-title>Peppers</mat-card-title>
        <mat-card-subtitle color="primary">Peppers</mat-card-subtitle>
        <mat-card-actions>
            <button mat-mini-fab>
                <mat-icon mat-list-icon>playlist_add</mat-icon></button>
            <button mat-mini-fab><mat-icon mat-list-icon>filter_list</mat-icon></button>
        </mat-card-actions>
    </mat-card>
</section>