<h3>Cart</h3>

<p>
    <a routerLink="/shipping">Shipping Prices</a>
    <br>
    <a routerLink="/data">Sample data from jsonplaceholder</a>
    <br>
    <a routerLink="/api">Sample data of api call see in console</a>
    <br>
    <a routerLink="/api-object">Sample data of api object call without rxjs and see in console</a>
</p>

<div *ngFor="let thing of things">
    <span>{{ thing.name }}</span>
    <span>{{ thing.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name">
    </div>

    <div>
        <label for="address">Address</label>
        <input type="text" id="address" formControlName="address">
    </div>

    <button type="submit">Submit</button>

</form>