@import '../hero-details.box.scss';

:host {
  font-style: italic;
}

:host {
  font-style: italic;
}

:host(.active) {
  font-weight: bold;
}

:host-context(.active) {
  font-style: italic;
}

:host ::ng-deep h3 {
  font-style: italic;
}
