<h1>Attribute, class, and style bindings</h1>

<h2>Attribute binding</h2>

<table border="1">
  <tr>
    <td [attr.colspan]="1 + 1">One-Two</td>
  </tr>
  <tr>
    <td colSpan="{{ 1 + 1}}">Three-Four</td>
  </tr>
  <tr>
    <td>Five</td>
    <td>Six</td>
  </tr>
</table>
<br>

<div>
  <button type="button" [attr.aria-laebl]="actionName">{{ actionName }} with Aria</button>
</div>
<hr>

<h2>Styling precedence</h2>

<h3>Basic specificity</h3>

<div [class.special]="isSpecial" [class]="classExpression">Some text</div>
<div [class.border]="border" [style]="styleExpression">Some text</div>

<h3>Source specificity</h3>
<app-comp-with-host-binding [class.special]="isSpecial" dirWithClassBinding></app-comp-with-host-binding>

<div>
  <app-comp-with-host-binding [style.color]="color" dirWithStyleBinding></app-comp-with-host-binding>
</div>

<h3>Dynamic vs static</h3>

<div class="special" [class.special]="false">Some text</div>

<div style="border: dotted darkblue 3px" [style]="styleExpression">Some text</div>

<div class="readability">
  <app-comp-with-host-binding dirWithHostBinding></app-comp-with-host-binding>
</div>

<app-single-and-multiple-style-binding></app-single-and-multiple-style-binding>

<app-my-input-with-attribute-decorator type="number"></app-my-input-with-attribute-decorator>