<h2>Angular Animations In Lists</h2>
<button (click)="add()">Add</button><button (click)="remove()">remove</button>
<hr />
<div [@listAnimation]="items.length">
    <div *ngFor="let item of items">
        <div>{{ item.Name }}</div>
    </div>
</div>

<table id="customers">
    <tr>
        <th>Name</th>
        <th>Country</th>
    </tr>
    <ng-container *ngFor="let o of items">
        <tr [@enterAnimation]>
            <td>{{o.Name}}</td>
            <td>{{o.Country}}</td>
        </tr>
    </ng-container>
</table>