<mat-toolbar color="accent">
    <mat-toolbar-row>
        <span>About</span>
    </mat-toolbar-row>
</mat-toolbar>
<section class="section">
    <div class="block">
        <mat-card>
            1
        </mat-card>
    </div>
    <div class="block">
        <mat-card>2</mat-card>
    </div>
    <div class="block">
        <mat-card>3</mat-card>
    </div>
    <div class="block">
        <mat-card>4</mat-card>
    </div>
    <div class="block">
        <mat-card>5</mat-card>
    </div>
    <div class="block">
        <mat-card>6</mat-card>
    </div>
    <div class="block">
        <mat-card>7</mat-card>
    </div>
    <div class="block">
        <mat-card>8</mat-card>
    </div>
</section>