<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Home</span>
    </mat-toolbar-row>
</mat-toolbar>

<section class="section">
    <div class="block xs-6 sm-6">
        <mat-card>1</mat-card>
    </div>
    <div class="block">
        <mat-card>2</mat-card>
    </div>
    <div class="block">
        <mat-card>3</mat-card>
    </div>
    <div class="block">
        <mat-card>4</mat-card>
    </div>
    <div class="block">
        <mat-card></mat-card>
    </div>
    <div class="block">
        <mat-card></mat-card>
    </div>
    <div class="block sm-6 sm-8 md-6">
        <mat-card></mat-card>
    </div>
    <div class="block">
        <mat-card></mat-card>
    </div>
    <div class="block">
        <mat-card></mat-card>
    </div>
</section>